#wishlist {
  padding: 60px 0;
  .wishlist {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    .card {
      width: 21%;
      padding: 10px 35px;
      border: 1px solid rgb(224, 224, 224);
      border-radius: 15px;
      .icon {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        cursor: pointer;
        .fa-solid {
          color: red;
        }
      }
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 200px;
        }
      }
      .about {
        h2 {
          text-align: center;
          color: rgb(0, 0, 88);
          font-size: 21px;
        }
        .id {
          text-align: center;
          margin-top: 10px;
        }
        .price {
          text-align: center;
          margin: 10px 0;
        }
        .name {
          font-weight: 800;
          color: black;
        }
        .value {
          color: rgb(0, 0, 0);
        }
        .btn {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
