#products-page {
  padding: 80px 0;
  .search-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sort {
      padding-bottom: 50px;
    }
  }
  .products {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    .spin {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 60px;
    }
    .card {
      width: 21%;
      padding: 10px 35px;
      border: 1px solid rgb(224, 224, 224);
      border-radius: 15px;
      .icon{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        cursor: pointer;
      }
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 200px;
        }
      }
      .about {
        h2 {
          text-align: center;
          color: rgb(0, 0, 88);
          font-size: 21px;
        }
        .id {
          margin-top: 8px;
        }
        .price {
          margin: 8px 0;
        }
        .title {
          padding: 15px;
          margin-top: 8px;
        }
        .name {
          font-weight: 800;
          color: black;
        }
        .value {
          color: rgb(0, 0, 0);
        }
        .btn {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
